<style>
    body {
        background-color: #041E42;
    }
    h1 {
        font-weight: 600;
        color: #ffc72c
    }
    h3 {
        font-weight: 300;
        color: #ffc72c
    }
    label {
        color: white
    }

</style>
<center>
    <h1> 
        WELCOME TO BUCHUNT
    </h1>
</center>
<center>
    <div class="col-8 card">
        <div class="col-12 row">
            <p>&nbsp;</p>
        </div>
        <div class="col-12 row">  
            <img src="~/Images/logo.png" width="250" height="200" />
        </div>
        <div class="col">
            <center>
                <h3>User Sign Up</h3>
            </center>
        </div>
        <div class="row">
            <div class="col">
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label>Email Address</label>
                <div class="form-group">
                    <input class="form-control" ID="TextBox1" placeholder="Email Address">
                </div>
                <label>Phone Number</label>
                <div class="form-group">
                    <input class="form-control" ID="TextBox1" placeholder="Phone Number">
                </div>
                <label>Password</label>
                <div class="form-group">
                    <input class="form-control" ID="Password" placeholder="Password" name="Password" type="Password">
                </div>
                <label>Re-Enter Password</label>
                <div class="form-group">
                    <input class="form-control" ID="Password" placeholder="Password" name="Password" type="Password">
                </div>
                <center>
                    <div class="form-group">
                        <input class="btn btn-info btn-block btn-lg" onclick="location.href='@Url.Action("SuccessfulSignUp", "Home")'" id="Button2" type="button" value="Submit" />
                    </div>
                </center>
            </div>
        </div>
    </div>
        <div class="col-12 row">
            <p>&nbsp;</p>
        </div>
</center>
