<style>
    body {
        background-color: #041E42;
    }

    h1 {
        font-weight: 600;
        color: #ffc72c
    }

    h2 {
        font-weight: 900;
        color: #ffc72c
    }

    h3 {
        font-weight: 300;
        color: #ffc72c
    }

    label {
        color: white
    }
</style>
<center>
    <h1>
        WELCOME TO BUCHUNT
    </h1>
</center>
<center>
    <div class="col-8 card">
        <div class="col-12 row">
            <p>&nbsp;</p>
        </div>
        <div class="col-12 row">
            <img src="~/Images/logo.png" width="250" height="200" />
        </div>
        <div class="col">
            <center>
                <h3>Your sign up was a success!</h3>
                <hr>
            </center>
        </div>
        <div class="col">
            <center>
                <h2>Your User ID: @ViewBag.AccessCode</h2>
                <br />
            </center>
        </div>
        <div class="form-group">
            <input class="btn btn-success btn-block btn-lg" onclick="location.href='@Url.Action("Index", "Home")'" id="Button2" type="button" value="Return to Log In" />
        </div>
        <div class="col-12 row">
            <p>&nbsp;</p>
        </div>
    </div>
</center>