@{
    ViewData["Title"] = "All locations in the hunt";
}
<h4>@ViewData["Title"]</h4>
<p>
    <a href="@Url.Action("Create", "Admin")" class="btn btn-success btn-xs">Create New Location</a>
</p>
  <div class="form-group">
          <label class="text-left">Culp Center</label>
          <p  class="text-Left">Latitude and longitude: 36.3014, -82.3668</p>
                <a class="text-right btn btn-secondary btn-xs"  href="#">Edit</a> |
                <a class="text-right btn btn-secondary btn-xs" href="#">Delete</a>
                <p></p>
            <label class="text-left">Gilbreath Hall</label>
          <p  class="text-Left">Latitude and longitude: 36.3034, -82.3685</p>
                <a class="text-right btn btn-secondary btn-xs" href="#">Edit</a> |
                <a class="text-right btn btn-secondary btn-xs" href="#">Delete</a>
                <p></p>
          <label class="text-left">Millennium Center</label>
          <p  class="text-Left">Latitude and longitude: 36.3058, -82.3667</p>
                <a class="text-right btn btn-secondary btn-xs" href="#">Edit</a> |
                <a class="text-right btn btn-secondary btn-xs" href="#">Delete</a>
                <p></p>
            <label class="text-left">Roy Nicks Hall Center</label>
          <p  class="text-Left">Latitude and longitude: 36.3024, -82.3680</p>
                <a class="text-right btn btn-secondary btn-xs" href="#">Edit</a> |
                <a class="text-right btn btn-secondary btn-xs" href="#">Delete</a>
  </div>